#principal {
  background-color: #00008B;
  left: auto;
  margin-top: 5px;
  
  width: 100%;
  height: 1100px;

}

p {
  color: #FFFFFF;
  padding: 0px 5px 5px 10px;

}

p.decl {
    text-align: center;      

}

h4 {
  color: #00CED1;
  text-align:  center;
  padding: 10px 2px 2px 5px;
}
